* {
    font-family: "Monaco";
    margin-top: 15px;
}

@import '../common/variables';

body{
    background-color: $background_color;
}

.ui {
    .header:first-child {
        margin-top: -0.142857em;
        margin-bottom: 1.142857em;
    }

    .horizontal {
        .list {
            padding-left: 250px;
        }
    }
}

.content-segment {
    padding-top: 20px;
}